<div class="container">
  <div class="row justify-content-start mt-3">
    <p class="col-3 mr-5">Recherche par nom</p>
    <input class="col-3" #searchBox>
    <button class="col-3 ml-5" (click)="search(searchBox.value)">Recherche</button>

  </div>
  <div *ngIf="res">
    <ul>
      <div class="row justify-content-start mt-3">
      <div class="col-4 ">
        <li class="list-group" *ngFor="let n of lname">
          <p class=" mt-5">Le Matricule de {{searchBox.value}} {{n}} est :</p>
        </li>
      </div>
      <div class="col-4 ">
        <li class="list-group" *ngFor="let m of mat">
          <p class="ml-5 mt-5"> {{m}}</p>
        </li>
      </div>
    </div>
    </ul>
  </div>
</div>
