<div class="form-group row">
  <label for="inputRechercherParNom" class="col-12 col-sm-3 col-form-label">Recherche par nom</label>
  <div class="col-12 col-sm-5">
    <input #nom type="text" class="form-control" id="inputRechercherParNom">
  </div>
  <div class="col-12 col-sm-4">
    <button class="btn btn-primary" (click)="search(nom.value)">Rechercher</button>
  </div>
</div>

<div *ngIf="listeMatricules">
  <ul>
    <div class="row">
      <div class="col-12 ">
        <ul class="list-group">
          <li class="list-group-item" *ngFor="let m of listeMatricules" (click)="getCollegue(m)">{{m}}</li>
        </ul>
      </div>
    </div>
  </ul>
</div>
