<div class="container">
  <div class="row">
    <form (ngSubmit)="onSubmit()" #collegueForm="ngForm">
      <div class="form-group">
        <label for="name">Nom</label>
        <input type="text" class="form-control" id="name" required [(ngModel)]="col.nom" name="name" #name="ngModel">

        <div [hidden]="name.valid" class="alert alert-danger">
          Nom is required
        </div>
      </div>

      <div class="form-group">
        <label for="alterEgo">Prénom</label>
        <input type="text" class="form-control" id="lname" required [(ngModel)]="col.prenoms" name="lname"
          #lname="ngModel">

        <div [hidden]="lname.valid || lname.pristine" class="alert alert-danger">
          Prénom is required
        </div>
      </div>

      <div class="form-group">
        <label for="alterEgo">Date De Naissance</label>
        <input type="text" class="form-control" id="date_de_naissance" required [(ngModel)]="col.dateDeNaissance"
          name="date_de_naissance" #date_de_naissance="ngModel">

        <div [hidden]="date_de_naissance.valid || date_de_naissance.pristine" class="alert alert-danger">
          Date De Naissance is required
        </div>
      </div>

      <div class="form-group">
        <label for="alterEgo">Email</label>
        <input type="text" class="form-control" id="email" required [(ngModel)]="col.email" name="email"
          #email="ngModel">

        <div [hidden]="email.valid || email.pristine" class="alert alert-danger">
          Email is required
        </div>
      </div>

      <div class="form-group">
        <label for="alterEgo">Photo URL</label>
        <input type="text" class="form-control" id="photo_url" required [(ngModel)]="col.photoUrl" name="photo_url"
          #photo_url="ngModel">

        <div [hidden]="photo_url.valid || photo_url.pristine" class="alert alert-danger">
          Photo URL is required
        </div>
      </div>
      <button type="submit" class="btn btn-success" [disabled]="!collegueForm.form.valid">Submit</button>
    </form>
  </div>
</div>

