<div *ngIf="col ; else alert">

  <div class="row">
    <div class="col-12 col-sm-3 m-auto d-flex justify-content-center">
      <img src={{col.photoUrl}} class="img-fluid img-thumbnail" alt="photo de profil">
    </div>

    <div class="col m-auto">
      <div class="row">
        <div class="col"> Matricule :</div>
        <div class="col"> {{col.matricule}}</div>
      </div>
      <div class="row">
        <div class="col">Nom :</div>
        <div class="col">{{col.nom | uppercase}}</div>
      </div>
      <div class="row">
        <div class="col">Prénoms :</div>
        <div class="col">{{col.prenoms}}</div>
      </div>
      <div class="row">
        <div class="col"> Date de naissance :</div>
        <div class="col"> {{col.dateDeNaissance | date : 'dd/MM/yyyy'}} </div>
      </div>

      <div>
        <div class="row">
          <div class="col">Email :</div>
          <div class="col" *ngIf="!modeModif"> {{col.email}}</div>
          <div class="col" *ngIf="modeModif">
            <input type="email" class="form-control" id="email" value={{col.email}} [(ngModel)]="collegue.email"
              required  #email="ngModel">
              <div [hidden]="email.valid || email.pristine" class="alert alert-danger">
                email is required
              </div>
          </div>

        </div>
      </div>

      <div class="row" *ngIf="modeModif">
        <div class="col-6">
          <label for="photoUrl" class="form-label">Photo Url :</label>
        </div>
        <div class="col">
          <input type="text" id="photoUrl" class="form-control" value={{col.photoUrl}}
            [(ngModel)]="collegue.photoUrl" required minlength="7" #photoUrl="ngModel">
            <div [hidden]="photoUrl.valid || photoUrl.pristine" class="alert alert-danger">
              minimum 7 caractères.
            </div>
        </div>

      </div>

    </div>
  </div>

</div>
  <div class="row pt-2 mt-2 d-flex">

    <div class="col-12 col-sm-6 order-2 order-sm-1 d-flex justify-content-center">
      <button [routerLink]="['/add']" class="btn btn-link">Créer un nouveau collègue</button>
    </div>
    <div *ngIf="!modeModif && col" class="order-1 order-sm-2 d-flex justify-content-end">
      <button class="btn btn-dark" (click)="modifier()" >Modifier</button>
    </div>
    <div *ngIf="modeModif && col" class="order-1 order-sm-2 d-flex justify-content-end">
      <button class="btn btn-dark" (click)="valider()">Valider</button>
    </div>




</div>
<ng-template class="row" #alert>
  <div class="alert alert-danger" role="alert">
    Vous devez sélectionner un collegue
  </div>
</ng-template>
