<div class="container">
  <ul>
    <li class="list-group" *ngFor="let c of coll">
      <div class="row justify-content-start mt-3">
        <div class="col-4"><img src={{c.photoUrl}} alt="image" /></div>
        <div class="col-4 mt-3">
          <span class="badge">Matricule</span><br>
          <span class="badge">Nom</span><br>
          <span class="badge">Prénom</span><br>
          <span class="badge">Date de naissance</span><br>
          <span class="badge">Email</span><br>
          <div *ngIf="mod">
            <span class="badge">Photo URL</span>
          </div>
        </div>
        <div class="col-4 mt-3">
          <span class="badge">{{c.matricule}}</span><br>
          <span class="badge">{{c.nom | uppercase}}</span><br>
          <span class="badge">{{c.prenoms}}</span><br>
          <span class="badge">{{c.dateDeNaissance | date : "dd.MM.y"}}</span><br>
          <div *ngIf="show">
            <span class="badge">{{c.email}}</span><br>
          </div>
          <div *ngIf="mod && c.matricule">
            <input type="email" value="{{c.email}}">
            <input type="text" value="{{c.photoUrl}}">

          </div>

        </div>
      </div>
      <div class="row justify-content-end">
        <div *ngIf="show">
          <button class="mr-5" (click)="modifier(c)">Modifier</button>
        </div>
      </div>
      <div class="row justify-content-end">
        <div *ngIf="mod">
          <button class="mr-5" (click)="valide()">Valider</button>
        </div>
      </div>
    </li>
  </ul>
  <div *ngIf="show">
    <div class="row justify-content-center"> <button (click)="ajouter()" class="btn btn-link">Créer un nouveau
        collègue</button> </div>
  </div>
</div>
